.section__about {
  background-color: #325ecc;
  width: 100%;
  color: white;

  & h2 {
    font-size: 4rem;
    margin: 0 0 1rem 0;
  }

  p {
    font-size: 1.25em;
    word-spacing: 1px;
    margin: 0.5rem;
    color: #d8d8d8;
  }
}
