.contact {
  padding: 2rem 0 0 0;
  margin: 10rem 0 0 0;
  background-color: #d8ebf5;
  &__block {
    background-image: linear-gradient(
        to bottom,
        rgba(7, 7, 8, 0.795),
        rgba(0, 0, 0, 0.705)
      ),
      url('../../images/contactBg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }

  &__heading {
    color: #325ecc;
    text-transform: uppercase;
    font-size: 3rem;
  }

  &__icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }

  &__icon {
    padding: 0.5rem 0;

    h3 {
      color: #325ecc;
      margin: 1rem 0;
    }

    p {
      color: rgb(214, 214, 214);
      font-weight: 700;
    }
  }
}

form {
  text-align: center;
  margin-top: 5rem;
  & textarea {
    display: block;

    width: 50%;
    margin: 0 auto;
  }

  & button {
    padding: 0.75rem 2rem;
    font-family: inherit;
    font-size: 0.9rem;
    color: #325ecc;
    border: none;
    border-radius: 3px;
    margin: 2rem 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: white;
      background-color: #325ecc;
    }
  }
}

.inputs {
  width: 50%;
  margin: 2rem auto;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);

  & input {
    background: rgba(100, 100, 100, 0.356);
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-bottom: 3px #325ecc solid;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px transparent solid;
    color: rgb(187, 187, 187);
    font-family: inherit;

    &::placeholder {
      color: rgb(187, 187, 187);
    }

    &:focus {
      outline: none;
      border-bottom: 3px #325ecc solid;
    }
  }
}

textarea {
  background: rgba(100, 100, 100, 0.356);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px transparent solid;
  &::placeholder {
    color: rgb(187, 187, 187);
  }
  &:focus {
    outline: none;
    border-bottom: 3px #325ecc solid;
  }
}

footer {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding-bottom: 1rem;
  & p {
    color: rgb(187, 187, 187);
  }
  div {
    text-align: right;

    & svg {
      margin: 0 0.75rem;
      cursor: pointer;
    }
  }
}

.footer__icons svg {
  width: 28px;
  height: 28px;
  fill: #9c9c9c;

  &:nth-child(1) {
    &:hover {
      fill: #38a1f3;
    }
  }
  &:nth-child(2) {
    &:hover {
      fill: #4267b2;
    }
  }
  &:nth-child(3) {
    &:hover {
      fill: #231f20;
    }
  }
}
