.header {
  background-image: linear-gradient(
      to bottom,
      rgba(7, 7, 8, 0.795),
      rgba(0, 0, 0, 0.705)
    ),
    url('../../images/bg1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}

nav {
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
  font-size: 1.25rem;
  height: 50px;
  display: grid;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin: 0 32px;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875em;
  color: #fff;
  font-family: 'Unica One', cursive;
  letter-spacing: 2px;
  transition: color 0.3s ease;

  &:hover {
    color: #5680e9;
  }
}

/*________ INTRO SECTION ________*/
.hero {
  height: 100vh - 50;
  width: 100%;
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero__headings {
  display: inline-block;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.hero__headings h1 {
  font-size: 5em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}
.hero__headings h4 {
  font-size: 1.5em;
  color: #a5a5a5;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.75em;
  word-spacing: 1rem;
}

.hero__sub-title {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: space-between;
}

// Scroll button

.scroll-indicator {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 20px;
  height: 35px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #acacac;
  border-radius: 23px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 2px;
  height: 5px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: white;
  border-radius: 90%;
  animation: ani-mouse 2.5s linear infinite;
}

@keyframes ani-mouse {
  0% {
    opacity: 0;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.something {
  color: #5680e9;
  color: #84eccb;
  color: #5ab9ea;
  color: #c1c8e4;
  color: #8860d0;
}
