.projects {
  &__section {
    background-color: #d8ebf5;
  }

  &__heading {
    color: #325ecc;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 1.5rem 0;
  }

  &__block {
    & .projectBox {
      &:nth-child(1) {
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.61),
            rgba(26, 26, 26, 0.815)
          ),
          url('../../images/wedding.jpg');
      }
      &:nth-child(2) {
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.61),
            rgba(26, 26, 26, 0.815)
          ),
          url('../../images/model.jpg');
      }
      &:nth-child(3) {
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.61),
            rgba(26, 26, 26, 0.815)
          ),
          url('../../images/forest.jpg');
      }
    }
  }
}

.projectBox {
  height: 17.5rem;
  color: rgb(212, 212, 212);
  background-size: cover;
  background-position: center;
  display: block;

  & h2 {
    color: #dcf30b;
    padding: 2rem 3rem;
    font-size: 2.5rem;
    letter-spacing: 1px;
  }

  & blockquote {
    font-style: italic;
    margin: 0 3rem;
    font-size: 1.125rem;
  }

  h4 {
    color: #dcf30b;
  }

  button {
    padding: 0.5rem 1rem;
    margin: 2rem 3rem;
    border-radius: 3px;
    font-family: inherit;
    color: #333;
    background-color: #dcf30b;
    border: 1px solid #dcf30b;
  }

  &__details {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
}

.project-extra {
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: #5ab9ea;

  &__info {
    color: white;
    font-weight: 500;
    position: relative;

    &--details {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      font-weight: 700;
      width: 80%;
      & > div {
        display: grid;
        grid-template-columns: 1fr 5fr;

        & p {
          color: rgb(207, 207, 207);
          & span {
            color: white;
          }
        }

        & a {
          text-decoration: none;
        }
        & a {
          color: white;
        }
      }
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & div {
      display: inline-block;
      list-style: none;
      width: 100%;

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}

.something {
  color: #5680e9;
  color: #84eccb;
  color: #5ab9ea;
  color: #c1c8e4;
  color: #8860d0;
}
