/*________ FONTS ________*/
@import url('http://fonts.googleapis.com/css?family=Lato:300, 400, 300italic');
@import url('http://fonts.googleapis.com/css?family=Maven+Pro:400, 500');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');

/*________ GENERAL ________*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #5abaea2c;
}

p {
  line-height: 1.7em;
}
